[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
tensorflow = "==1.10.0"
matplotlib = "==2.1.1"
smallab = "*"
esda = "*"
libpysal = "*"
pandana = "*"
torch = "*"
scikit-learn = "*"
pandas = "<=0.25.0"
numpy = "<=1.14.5"

[requires]
python_version = "3.6"
